<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container-fluid p-4">
    <!-- Section: Social media -->
      <div class = "row">
          <div class = "col-lg-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1212.1488588764087!2d74.95057771863559!3d30.217276722576692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc012e9bc8aec6d77!2sAggarwal%20Sales%20Center!5e1!3m2!1sen!2sin!4v1624950211015!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  <br>
          </div>
          <div class = "col-md-5 m-3">
              <section class="mb-4">
      <!-- Facebook -->
                  <a class="btn btn-outline-light btn-floating m-2" href="https://www.facebook.com" role="button">
                      <i style= "color:dodgerblue" class="fab fa-facebook-square"></i>
                  </a>
                  <!-- Twitter -->
                  <a class="btn btn-outline-light btn-floating m-2" href="https://www.facebook.com" role="button"
                    ><i style= "color:dodgerblue" class="fab fa-twitter"></i>
                  </a>

                  <!-- Google -->
                  <a class="btn btn-outline-light btn-floating m-2" href="https://www.google.com/search?q=Aggarwal+Sales+Center&rlz=1C1UEAD_enIN928IN928&oq=Aggarwal+Sales+Center&aqs=chrome..69i57j69i61l3.11425j0j7&sourceid=chrome&ie=UTF-8" role="button">
                      <i class="fab fa-google"></i>
                  </a>

                  <!-- Instagram -->
                  <a class="btn btn-outline-light btn-floating m-2" href="https://www.facebook.com" role="button">
                      <i style= "color:violet" class="fab fa-instagram"></i>
                  </a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
      <p>
        All kind of plastic moduled furniture,supreme furniture,premium furniture for home and office. Corfoam and other mattress. Luminous inverter,battery and solar distributor
      </p>
              <p>Email : aggarwalsales@gmail.com </p>
              <p>Phone : 9041254357 </p>
          </div>
      </div>

    <!-- Section: Text -->

    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">aggarwalsalescenter.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->