{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
    <br>
    <div class = "row">
        <div class = "col-md-6">
            <div class = "card card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <p>Customer : {{ order.customer }}</p>
                    <p>Product : {{ order.product }}</p>
{#                    <p>Status : {{ form.status }}</p>#}
                    {{ form.as_p }}
                    <input type="submit" value="Update" name='Submit' class="btn btn-info">
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock %}